<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">  
  <bean id="empService" class="cn.tx.service.impl.EmpServiceImpl"> 
    <property name="empDao" ref="empDao"/> 
  </bean>  
  <bean id="depService" class="cn.tx.service.impl.DepServiceImpl"> 
    <property name="depDao" ref="depDao"/> 
  </bean>  
  <bean id="supplierService" class="cn.tx.service.impl.SupplierServiceImpl"> 
    <property name="supplierDao" ref="supplierDao"/> 
  </bean>  
  <bean id="productTypeService" class="cn.tx.service.impl.ProductTypeServiceImpl">
    <property name="productTypeDao" ref="productTypeDao"/>
  </bean>
</beans>
